footer{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link-container{
            display: flex;
            gap: 1rem;
        }
    }
}