<section class="error-section">

    <div class="container">
        <h1>404</h1>
        <h2>Page could not be found</h2>
        <a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Go back</a>
    </div>

</section>