.table-layout-section {

    .container {
        h2 {
            margin-bottom: 2rem;
        }
    }

    .restaurant-image {
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .table {
            position: absolute;
            width: 80px;
            height: 80px;
            display: inline-block;
            color: var(--color-light);

            &:hover {
                .fa-solid {
                    color: var(--color-secondary);
                }
            }

            .fa-solid {
                transition: all 0.25s ease-in-out;
            }

            .table-wrap {
                position: relative;
                width: 100%;
                height: 100%;

                .table-icon {
                    font-size: 4rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .chair-icon {
                    font-size: 1.25rem;
                    position: absolute;
                    // Place chairs in circular layout
                    top: calc(50% + 35px * sin(2 * 3.14159 * var(--index) / var(--count)) - 0.5em);
                    left: calc(50% + 35px * cos(2 * 3.14159 * var(--index) / var(--count)) - 0.5em);
                }
            }
        }
    }
}
