<footer>
    <div class="container">

        <div class="copyright">
            <span><b>&copy; @DateTime.Now.Year</b> - BookingBackOffice</span>
        </div>

        <nav class="link-container">
            <a class="link @(ViewContext.RouteData.Values["controller"]!.ToString() == "Home" ? "active-link" : "")" asp-controller="Home" asp-action="Index">Home</a>
            <a class="link @(ViewContext.RouteData.Values["controller"]!.ToString() == "Booking" ? "active-link" : "")" asp-controller="Booking" asp-action="Index">Bookings</a>
            <a class="link @(ViewContext.RouteData.Values["controller"]!.ToString() == "Table" ? "active-link" : "")" asp-controller="Table" asp-action="Index">Tables</a>
        </nav>

    </div>
</footer>
