<header class="bg-coal">
    <div class="container">

        <div class="logo-container">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/logo-light.png" alt="BookingBackOffice" />
            </a>
        </div>

        <nav class="link-container tablet-hidden">
            <a class="link @(ViewContext.RouteData.Values["controller"]!.ToString() == "Home" ? "active-link" : "")" asp-controller="Home" asp-action="Index">Home</a>
            <a class="link @(ViewContext.RouteData.Values["controller"]!.ToString() == "Booking" ? "active-link" : "")" asp-controller="Booking" asp-action="Index">Bookings</a>
            <a class="link @(ViewContext.RouteData.Values["controller"]!.ToString() == "Table" ? "active-link" : "")" asp-controller="Table" asp-action="Index">Tables</a>
        </nav>

        <div class="account-container">
            @if (User.Identity!.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <a class="icon-wrapper" asp-controller="Account" asp-action="SignUp"><i class="fa-solid fa-user"></i></a>
                }
                <a class="icon-wrapper" asp-controller="Account" asp-action="LogOut"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            }
        </div>
    </div>
</header>